@use "./config" as *;

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: $clr-blackish;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
