@use "./config" as *;

@include media-md {
  * {
    font-size: 20px;
  }

  .navbar {
    padding: 0.5rem 2rem;

    &__list {
      gap: 2rem;
      margin-left: 2rem;
    }
  }

  .section-front {
    max-width: 900px;
    grid-template-areas:
      "alias-title ."
      "alias-description ."
      "alias-btn ."
      "alias-list alias-list";
    justify-items: start;
    margin-top: 0;
    padding-top: 4rem;
    position: relative;

    &__title {
      text-align: left;
      font-size: 3rem;

      & span {
        font-size: 3rem;
      }
    }

    &__description {
      margin-top: 1rem;
      font-size: 1.5rem;
    }

    &__btn {
      padding-bottom: 0;
    }

    &__list {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 0;
      margin-top: 5rem;
      padding: 2rem 0;
      border-top: 2px solid darken($clr-white, 30%);
      border-bottom: none;

      &__item {
        gap: 0.6rem;
        font-size: 2rem;

        & .front-img {
          width: 2rem;
        }
      }
    }

    &__kot {
      position: absolute;
      top: 1rem;
      right: 1rem;
      max-height: 380px;
    }
  }

  .section-projects {
    max-width: 900px;
    padding-bottom: 2rem;

    &__title {
      font-size: 2.5rem;
    }

    &__list {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 3rem 1rem;

      &__item {
        & .item-title {
          font-size: 1.5rem;
        }

        & .item-link-repo {
          margin-top: 0.7rem;
        }
      }
    }
  }

  .section-contact {
    grid-template-columns: 1fr minmax(250px, 600px) 1fr;
    margin-top: 2rem;

    &__description {
      &__title {
        font-size: 2.5rem;
      }

      &__paragraph {
        font-size: 1.2rem;
      }
    }
  }

  .footer {
    grid-template-areas: ". alias-title alias-link .";
    grid-template-columns: 1fr minmax(200px, 450px) minmax(200px, 450px) 1fr;

    &::after {
      max-width: 850px;
    }

    &__title {
      justify-self: start;
      font-size: 1.5rem;
    }

    &__link {
      justify-self: end;

      &__icon {
        font-size: 1.5rem;
      }
    }
  }
}

@include media-lg {
  .navbar {
    padding: 0.5rem 3rem;

    &__refresh {
      font-size: 1.8rem;
    }

    &__list {
      &__btn {
        letter-spacing: 1px;
        font-size: 0.9rem;
      }
    }

    &__github {
      &__icon {
        font-size: 1.8rem;
      }
    }
  }

  .section-front {
    max-width: 1100px;

    &__btn {
      margin-top: 3rem;
      margin-bottom: 4rem;
    }

    &__kot {
      max-height: 500px;
    }
  }

  .section-projects {
    max-width: 1100px;
  }

  .section-contact {
    grid-template-areas: ". alias-description alias-form .";
    grid-template-columns: 1fr minmax(200px, 500px) minmax(200px, 500px) 1fr;

    &__description {
      align-items: flex-start;
      text-align: start;
      padding-right: 2rem;
    }

    &__form {
      margin-top: 0;
    }
  }

  .footer {
    grid-template-columns: 1fr minmax(200px, 500px) minmax(200px, 500px) 1fr;

    &::after {
      max-width: 1100px;
    }
  }
}
